@tailwind components;

#articleContent ul {
  margin: 1rem auto;
}

#articleContent img, #articleContent iframe{
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  max-width: 100% !important;
  object-fit: cover;
  @apply h-[270px] sm:h-[400px];
}



@layer components {
  #articleContent a {
    @apply text-primary;
  }
  #articleContent p,
  #articleContent h1,
  #articleContent h2,
  #articleContent h3 {
    @apply py-2;
  }
}
