@tailwind components;

#articleContent p {
  margin: 1rem auto;
}

#articleContent ul {
  margin: 1rem auto;
}

#articleContent img {
  border-radius: 1rem;
  margin: 0.5rem 0;
}


@layer components {
  #articleContent a {
    @apply text-light-primary dark:!text-dark-primary;
  }
  #articleContent p, #articleContent h1, #articleContent h2, #articleContent h3 {
    @apply py-2;
  }
}

