@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-noto-sans-arabic);
  max-width: 1080px;
  margin: 0 auto;
  font-size: 16px;
  box-sizing: border-box;
}

@layer base {
  /* hsl(hue, saturation, lightness) */
  :root {
    --background: 210, 80%, 98%;
    --on-background: 206, 13%, 11%;
    --primary: 198, 66%, 31%;
    --on-primary: 0, 0%, 100%;
    --primary-container: 221, 100%, 92%;
    --error: 0, 75%, 42%;
    --on-error: 0, 0%, 100%;
    --surface: 210, 80%, 98%;
    --on-surface: 206, 13%, 11%;
    --on-surface-variant: 205, 8%, 28%;
    --outline-variant: 208, 19%, 78%;
    --shadow: 0, 0%, 0%;
    --inverse-surface: 202, 8%, 19%;
    --inverse-on-surface: 210, 29%, 95%;
    --inverse-primary: 202, 81%, 76%;
    --surface-container: 210, 24%, 93%, 1;
    --surface-container-lowest: 0, 0%, 100%;
    --surface-container-low: 210, 36%, 96%;
    --surface-container-high: 210, 18%, 91%;
    --surface-container-highest: 210, 14%, 89%;
  }
  .dark {
    --background: 203, 21%, 7%;
    --on-background: 210, 14%, 89%;
    --primary: 202, 81%, 76%;
    --on-primary: 196, 100%, 14%;
    --error: 6, 100%, 84%;
    --on-error: 357, 100%, 21%;
    --surface: 203, 21%, 7%;
    --on-surface: 210, 14%, 89%;
    --on-surface-variant: 208, 12%, 78%;
    --outline-variant: 205, 8%, 28%;
    --inverse-surface: 210, 14%, 89%;
    --inverse-on-surface: 202, 81%, 76%;
    --inverse-primary: 198, 66%, 31%;
    --surface-container: 206, 11%, 12%;
    --surface-container-lowest: 203, 29%, 5%;
    --surface-container-low: 206, 13%, 11%;
    --surface-container-high: 203, 10%, 16%, 1;
    --surface-container-highest: 210, 8%, 21%;
  }
}

@layer base {
  body {
    @apply bg-surface text-onSurface;
  }

  h1 {
    @apply text-headline-s sm:text-headline-l;
  }

  h2 {
    @apply text-title-l sm:text-headline-m;
  }

  h3 {
    @apply text-headline-s;
  }

  p {
    @apply text-body-l;
  }
}

@layer components {
  .search-input,
  .suggestions {
    @apply w-[calc(100vw-64px)]
      md:w-[616px] h-[40px]
      bg-surfaceContainer 
      outline-0
      border-0
      rounded-3xl px-12 ml-0;
  }
  .suggestions {
    @apply px-0 h-0 border-none;
  }

  .menu-link {
    @apply flex items-center transition-colors duration-300;
  }
  .hover-pointer {
    @apply cursor-pointer hover:text-primary;
  }
  .active-filter {
    @apply bg-primary text-onPrimary;
  }
  .active {
    @apply text-primary;
  }
}


/* default text colors default font size */

/* default text tags default font size */
h1 {
  @apply text-headline-s sm:text-headline-l;
}

h2 {
  @apply text-title-l sm:text-headline-m;
}

h3 {
  @apply text-headline-s;
}

p {
  @apply text-body-l;
}

.read-more {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

/* End of  text tags default font size */

/* Keep footer at the bottom of the page */
/* The footer height including padding is 80px */
.min-height {
  min-height: calc(100dvh - 150px);
}
@media (max-width: 768px) {
  .min-height {
    min-height: calc(100dvh - 110px);
  }
}
