@tailwind components;

#articleContent ul {
  margin: 1rem auto;
}

#articleContent img,
#articleContent iframe {
  border-radius: 8px;
  margin: 1rem 0 1rem 0;
  max-width: 100% !important;
  object-fit: cover;
  @apply h-[229px] w-[406px] md:w-[680px] md:h-[510px];
}

#articleContent .fb-post iframe {
  @apply my-0;
}

/* This selector targets any class that contains "tweet-container_root"  */
[class*='tweet-container_root'] {
  @apply max-w-full sm:max-w-[680px];
}

/* This selector targets any class that contains "tweet-media_mediaContainer"  */
[class*='tweet-media_mediaContainer'] {
  @apply max-h-[340px] sm:max-h-[510px];
}

#articleContent .tweet-container img {
  width: auto;
  height: auto;
  margin: 0;
  max-width: auto;
}

@layer components {
  #articleContent a {
    @apply text-primary;
  }
  #articleContent p,
  #articleContent h1,
  #articleContent h2,
  #articleContent h3 {
    @apply py-2;
  }
}
