@tailwind components;

#articleContent ul {
  margin: 1rem auto;
}

#articleContent img {
  @apply h-[229px] w-[406px] md:w-[680px] md:h-[510px] rounded-[8px] my-4 object-cover;
}

#articleContent iframe {
  @apply my-4 rounded-[8px];
}
#articleContent .fb_iframe_widget {
  @apply mt-0 mb-4 rounded-[8px];
}

/* This selector targets any class that contains "tweet-container_root"  */
[class*='tweet-container_root'] {
  @apply max-w-full sm:max-w-[680px];
}

/* This selector targets any class that contains "tweet-media_mediaContainer"  */
[class*='mediaContainer'] {
  @apply max-h-[340px] sm:max-h-[510px];
}

[class*='watchOnTwitter'] {
  @apply hidden;
}

#articleContent .tweet-container img {
  width: auto;
  height: auto;
  margin: 0;
  max-width: auto;
}

@layer components {
  #articleContent a {
    @apply text-primary;
  }
  #articleContent p,
  #articleContent h1,
  #articleContent h2,
  #articleContent h3 {
    @apply py-2;
  }
}
