@tailwind components;

#articleContent {
  a {
    @apply text-primary;
  }
  p {
    @apply py-2;
  }
  h1,
  h2,
  h3 {
    @apply py-3;
  }

  ul {
    @apply list-disc space-y-2 pr-5;
  }

  ol {
    @apply list-decimal space-y-2 pr-5;
  }

  img {
    @apply h-[229px] w-[406px] md:w-[680px] md:h-[510px] rounded-[8px] my-4 object-cover;
  }

  /* This selector targets any class that contains "react-tweet-theme"  */
  [class*='react-tweet-theme'] {
    @apply max-w-full sm:w-[680px];
  }

  /* This selector targets any class that contains "mediaContainer"  */
  [class*='mediaContainer'] {
    @apply max-h-[340px] sm:max-h-[510px];
  }

  [class*='watchOnTwitter'] {
    @apply hidden;
  }

  .react-tweet-theme img {
    width: auto;
    height: auto;
    margin: 0;
    max-width: auto;
  }

  .fb_iframe_widget {
    @apply mb-3;
  }

  .fb-post iframe,
  .fb-video iframe {
    border-radius: 8px !important;
  }

  .instagram-media {
    min-width: auto !important;
    border-radius: 8px !important;
  }

  div[data-youtube-video] iframe {
    @apply my-2 max-w-full max-h-[240px] sm:w-[680px] sm:min-h-[510px] rounded-[8px];
  }
}
